<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    
</head>
<!-- Learnwebcode   DOC + tab= html boilerplate/ ctrl + D= select&change all
 start- npm run dev-->
<body>
    <header>
        <h1><a href="/">HEROS WEB</a></h1>
    </header>
    <nav>
    <button><a href="/login">Login</a></button>
    
    </nav>
    <main>
        <form action="/register" method="POST">
            <% errors.forEach(error => { %>
               <p class="notice"><%= error %></p>
                <% }) %>
        <fieldset>
            <legend>Create an account</legend>
            <label for="username" id="username"><small>Username</small></label>
            <input type="text" name="username" id="username" autocomplete="off">

             <label for="password" id="password"><small>Password</small></label>
            <input type="password" name="password" id="password" autocomplete="off">
            <br />
            <button>Sign up</button>
        </fieldset>
        </form>
    </main>
    <footer>
        <small>Copyright &copy; 2024</small>
    </footer>
</body>
</html>

<!-- Learnwebcode   DOC + tab= html boilerplate/ ctrl + D= select&change all-->