<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
   
</head>
<!-- Learnwebcode   DOC + tab= html boilerplate-->
<body>
    <header><a href="/"><h1>HEROS WEB</h1></a></body</header>
    <a href="/login">Login</a>
    
    <main>
        <h2>Welcome to My Hero Application</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ab deleniti rerum. Tenetur rerum quos aspernatur molestias fugiat cupiditate dignissimos harum perferendis? Enim maiores inventore quisquam in ut asperiores labore.</p>
    </main>
    <footer>
        <small>Copyright &copy; 2024</small>
    </footer>
</body>
</html>